.aboutSection {
  padding: 60px 0px;
  background-color: #fff;
}

@media(min-width: 720px) {
  .aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
  }
}

.description {
  text-align: center;
}

@media(min-width: 720px) {
  .description {
    text-align: left;
  }
}

.aboutContainer p {
  text-align: center;
  line-height: 1.8;
  font-size: 18px;
  color: #333;
  margin-bottom: 16px;
}

@media(min-width: 720px) {
  .aboutContainer p {
    text-align: left;
  }
}

.gallery {
  width: 100%;
}

.gallery div {
  position: relative;
  aspect-ratio: 16/9;
}

@media(min-width: 720px) {
  .gallery {
    width: 55%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.gallery img {
  width: 100%;
  aspect-ratio: 16/9;
}

